/* #brand:focus {
  color: #f8f9fa!important;
}

#brand:hover {
  color: #f8f9fa!important;
} */
.lettercolor1 {
  color: #A9A9A9;
}
.lettercolor2 {
  color: white;
}
.headercolor {
  background-color: white;
}